* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dcceb1;
}

article {
    width: 350px;
    background-color: white;
    margin: 10px auto;
    padding: 7px 20px;
    box-shadow: 5px 5px 2px gray;
}

img {
    width: 300px;
    display: block;
    margin: 0 auto;  
}

h3 {
    text-transform: uppercase;
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
}

div{
    border: 1px solid lightgrey;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
}

p {
    padding-bottom: 10px; 
}

.italic {
    font-style: italic;
}
